{% extends 'base.jinja2' %}

{% block content %}
<h1>Hello, world!</h1>
<p>This is my first app on python!</p>
<p>Here you can check current exchange rates to USD!</p>
<h2>Currency</h2>

<form method="post">
    <select name="currency">
        {% for key, value in currency_definition.items() -%}
        <option  value="{{key}}">{{key}} : {{value}}</option>
        {% endfor %}
    </select>
    <input type="submit">
</form>

<br>
<br>
<h1>{{ currency['title']}}</h1>
<h2>{{ currency['rates'] }}</h2>

{% endblock %}